.home-title{
    font-size: 2.8vh;
    font-weight: bold;
    font-family: Roboto;
}
.home-tile{
    display: inline-block;
    width: 25vh;
    height: 35vh;
    margin: 5vh;
    border: 1px solid grey;
}